* {
    box-sizing: border-box;
}

body {
    background-color: rgb(62, 62, 62);
    color: white;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 1.5em;
}

input {
    background-color: #730cd4;
    border-color: #ffffff;
    border: 2px;
    border-style: solid;
    color: white;
    padding: 1.35em 1em;
    text-decoration: none;
    font-size: 16px;
    margin-left: 15pt;
    margin-right: 15pt;
    min-width: 250px;
    height: 20%;
}

input:hover {
    border: 5px;
    background: #ef1a8f;
}

.ContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.childText {
    position: absolute;
    padding-top: 0pt;
    border-top: 50pt;
    width: 960px;
}

.childContent {
    margin-top: 15%;
    padding-top: 40pt;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: dimgray;
}

.column {
    float: left;
    padding: 10px;
}

.left, .right {
    width: 33%;
}

.middle {
    width: 34%;
}

/* Clear floats after the columns */

.TextContainer:after {
    content: "";
    display: table;
    clear: both;
}

.ButtonRow {
    color: #663399;
    padding-bottom: 40pt;
}

#Images {
    width: 250pt;
    padding-top: 3.5%;
    border: none;
    display: block;
    margin: 0 auto;
}