body {
    background-color: rgb(62, 62, 62);
    color: white;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 1.5em;
}

input {
    background-color: #730cd4;
    border-color: #ffffff;
    border: 3px;
    border-style: solid;
    color: white;
    font-size: 1.15em;
    text-decoration: none;
    padding: 1.35em 1em;
    margin-bottom: 10%;
    min-width: 40%;
    height: 20%;
}

input:hover {
    border: 5px;
    background: #ef1a8f;
}

.ContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.childContent {
    padding-top: 40pt;
    margin: auto;
    width: 35%;
    background: dimgray;
}

#Images {
    width: 250pt;
    padding-top: 3.5%;
    border: none;
    display: block;
    margin: 0 auto;
}