h1 {
    color: #ffffff;
    text-align: center;
    font-size: 35pt;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    color:white;
    font-size: 18pt;

}

.ContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}

.childText{
    position: absolute;
    padding-top: 0pt;
    border-top: 50pt;
    width: 960px;
}

.childContent{
    margin-top: 15%;
    padding-top: 40pt;
    position: absolute;
    top: 20%;
    left:50%;
    transform: translate(-50%, -50%);
    background: dimgray;
}

.FirstRow{
    text-align: center;

}

.FirstRow, .SecondRow, .ThirdRow, .FourthRow, .FifthRow{
    color: #663399;
    text-align: center;
    padding-bottom: 40pt;

}

#bioengineering, #biology, #compsci, #math, #amerlit, #physed, #sql, #igs, #worldhistory, #spanish{
    background-color: #730cd4;
    border-color: #ffffff;
    border: 2px;
    border-style: solid;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 15pt;
    margin-right: 15pt;
    min-width: 250px;
}

#bioengineering:hover, #biology:hover, #compsci:hover, #math:hover, #amerlit:hover, #physed:hover, #sql:hover, #igs:hover, #powerschool:hover, #schoology:hover, #worldhistory:hover, #spanish:hover {
    border: 5px;
    background: #ef1a8f;
    box-shadow: 0 0 1px #777;
}

body {
    background-color: rgb(62, 62, 62);
}



#ScheduleHeader{
    text-align: center;
}

#Images{
    width: 250pt;
    padding-top: 3.5%;
    border: none;
    display: block;
    margin: 0 auto;
}