TODO
Add images to website

Stylize the background (gradient?) -- (done?)

Host on GitHub

Add Schedule on the Right (Could incorporate python to get time and present the schedule based off the day)
Maybe use python to add notifications // reminders ? Could use text box input and store in a json file or something
