body {
    background-color: rgb(62, 62, 62);
    color: white;
    text-align: center;
    box-sizing: border-box;
}

#classesDiv {
    padding-top: 40pt;
    margin: auto;
    width: 33%;
    background: dimgray;
}

.scheduleDiv
{
    float:right;
    position: absolute;
    right: 7.5%;
    top: 7.5%;
}

header{
    width: 100%;
    text-align: right;
    font-size: 1.25em;
}

header a
{
    text-decoration: none;
    color:white;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 1.5em;
}

input[type=button] {
    background-color: #730cd4;
    border-color: #ffffff;
    border: 2px;
    border-style: solid;
    color: white;
    font-size: 1.15em;
    text-decoration: none;
    padding-left: 1.35em;
    padding-right: 1.35em;
    padding-top: 0.95em;
    padding-bottom: 0.95em;
    margin-bottom: 10%;
    margin-left: 3%;
    margin-right: 3%;
    min-width: 40%;
    height: 15%;
}

input:hover[type=button] {
    background: #ef1a8f;
}

#images {
    width: 250pt;
    padding-top: 3.5%;
    border: none;
    display: block;
    margin: 0 auto;
}